.navUl {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navUl li {
  float: left;
}

.navUl li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}